<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <!-- start: META -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="application-name" content="eRSN New" />
    <meta name="author" content="Weerapol Pakpibul" />
    <meta name="description" content="" />
    <!-- end: META -->
    <title>eRSN: @ViewBag.Title</title>
    <link rel="icon" href="~/images/SpectrumPro.png" type="image/x-icon" />
    <link rel="shortcut icon" href="~/images/SpectrumPro.png" type="image/x-icon" />
    <!-- start: MAIN CSS -->

    @Styles.Render("~/Content/loginn")

    <!-- end: MAIN CSS -->
    <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
    <style>
        body.login.example3 {
            background-image: url("@Url.Content("~/images/bg_2.png")");
            background-color: rgba(255, 255, 255, 0);
            color: #FFFFFF !important;
        }
    </style>
    @if (IsSectionDefined("csses"))
    {
        @RenderSection("csses")
    }
    <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
</head>
<body class="login example3">

    @RenderBody()
    <!-- end: FOOTER -->
    <!-- start: MAIN JAVASCRIPTS -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src='<%=ResolveUrl("~/Scripts/login/under_ie9/respond.min.js") %>'></script>
    <script type="text/javascript" src='<%=ResolveUrl("~/Scripts/login/under_ie9/excanvas.min.js") %>'></script>
    <script type="text/javascript" src='<%=ResolveUrl("~/Scripts/login/under_ie9/jquery.min.js") %>'></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <script type="text/javascript" src='~/Scripts/login/support_ie/over_ie9/jquery.min.js'></script>
    <!--<![endif]-->

    @Scripts.Render("~/bundles/loginn")

    <!-- end: MAIN JAVASCRIPTS -->
    <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->

    @if (IsSectionDefined("scripts"))
    {
        @RenderSection("scripts")
    }

</body>
</html>
